@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: inherit;
  background-color: #f8e9dd;
}

.section {
  max-width: 120rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__header {
  background-color: #ec775f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f8e9dd;
  padding: 2.5rem 3rem;
  border-radius: 1.8rem;
  margin-bottom: 2rem;
}

.container__header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
}

.container__header__text--amount {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 2.6rem;
}

.container__body {
  background-color: #fffaf5;
  padding: 2.5rem 3rem;
  border-radius: 1.8rem;
}

.container__body--title {
  font-weight: 700;
  font-size: 2.6rem;
  color: #382314;
}

.container__body__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

.container__body__chart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container__body__chart__item--shape {
  background-color: aqua;
}

.container__body__chart__item--day {
  font-size: 1.4rem;
  color: #93867b;
}

.container__body__footer {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #93867b;
}

.container__body__footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__body__footer__left--amount {
  font-size: 3.2rem;
  font-weight: 700;
  color: #382314;
}

.container__body__footer__right {
  margin-bottom: 0.7rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container__body__footer__right--percentage {
  text-align: right;
  font-weight: 700;
  color: #382314;
}

.seperator {
  background-color: #f8e9dd;
  height: 3px;
  margin: 2rem auto;
}

.attribution {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
